/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.nav-link.nav_sach::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    bottom: 4px;
    left: 5px;
    background-color: #fff;
    position: absolute;
}

.nav-link.nav_theloai::before{
    content: "";
    display: inline-block;
    width: 60px;
    height: 2px;
    bottom: 4px;
    left: 9px;
    background-color: #fff;
    position: absolute;
}