/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

a {
    text-decoration: none;
    color: #030101a8;
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: #006ba0 !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header,
main {
    padding: 0px 200px;
}

main {
    padding-bottom: 20px;
}

header {
    display: flex;
    height: 52px;
    border-bottom: 1px solid #ccc;
}

nav ul {
    list-style-type: none;
    height: 100%;
    padding-left: 84px;
    display: flex;
    gap: 24px;
}

nav ul li {
    display: inline-flex;
    height: 100%;
    padding: 12px 0px;
    height: 100%;
}

nav ul li:hover {
    border-bottom: 3px solid #04b2f7;
    color: #04b2f7;
}

nav ul li a {
    line-height: 30px;
    color: inherit;
}

nav ul li:last-child {
    color: #030101a8 !important;
    border: none;
}

header button {
    background-color: white;
    border: none;
    height: 100%;
    width: 52px;
    font-size: 24px;
    margin-left: 80px;
    cursor: pointer;
}

.hashtag {
    display: flex;
    margin: 16px 0px;
}

.hashtag div {
    margin-left: 20px;
    border-radius: 20px;
    background-color: #dddd;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 400;
}

.top-news {
    align-items: start;
    justify-content: left;
    gap: 20px;
}

.top-news .left {
    flex-direction: column;
    width: 310px;
}

.top-news .left div {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dedede;
    align-items: start;
    gap: 12px;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
}

.top-news .left img {
    width: 120px;
}

.top-news .center {
    width: 492px;
}

.top-news .center h2 {
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: -1.5px;
    margin-top: 12px;
    font-weight: bold;
    margin-bottom: 8px;
    cursor: pointer;
}

.top-news .center h2:hover {
    color: #006ba0;
}

.top-news .center ul {
    margin-top: 10px;
}

.top-news .right {
    width: 256px;
}

.top-news .right div {
    margin-bottom: 25px;
}

.books h3 {
    color: #000;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    padding: 0 15px 0 20px;
    margin: 6px 0 4px 0;
    font-size: 1.25rem;
}

.books h3::before {
    content: '';
    position: absolute;
    width: 5px;
    left: 5px;
    top: 2px;
    bottom: 2px;
    transform: skew(-20deg);
    background-color: #dd3333;
}

.books hr {
    margin: 10px 0px;
}

.books div {
    justify-content: space-between;
}

.books .card {
    width: 202px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.books .card img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 135px;
}

.books .card div {
    padding: 0px 10px 10px;
}

.books .card a {
    color: #000;
}
